.carousel-dot {
    font-size: 30px;
    color: #454d55;
}
.dots {
    margin-top: 12.5px;
}
.selected-dot {
    color: #007bff;
}
.overlay-content {
    width: 100%;
    max-width: 1024px;
    text-align: center;
    margin: auto;
}
.carousel-controls {
    display: flex;
    flex-wrap: wrap;
}
.carousel-controls div {
    flex: 0 0 33.333333%;
}
.carousel-arrow {
    display: block;
    font-size: 50px;
    color: #454d55;
    cursor: pointer;
    text-align: left;
}
.case-left {
    transform: rotate(180deg);
}
.overlay-content img {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.preview-img {
    max-width: 600px;
}
.add-img-wrapper {
    width: 640px;
    margin: auto;
}
.delete-preview-img {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
}
