.carousel-dot {
    font-size: 30px;
    color: var(--gray);
}
.dots {
    margin-top: 12.5px;
}
.selected-dot {
    color: var(--dark);
}
.overlay-content {
    width: 100%;
    max-width: 1024px;
    text-align: center;
    margin: auto;
}
.carousel-controls {
    display: flex;
    flex-wrap: wrap;
}
.carousel-controls div {
    flex: 0 0 33.333333%;
}
.carousel-arrow {
    display: block;
    font-size: 50px;
    color: var(--gray);
    cursor: pointer;
    text-align: left;
}
.case-left {
    transform: rotate(180deg);
}
.overlay-content img {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image-preview-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.image-preview-list li {
    position: relative;
}
.preview-img {
    width: 252px;
    margin: 2px;
}
.add-img-wrapper {
    max-width: 1046px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: var(--light);
}
.delete-preview-img {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
}
