.controls {
  align-items: start;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  justify-content: end;
  /* grid-template-rows: 70px; */
}

.controls button {
  /* width: 150px;
  height: 50px; */
  padding: 0;
  margin-left: 20px;
  /* color: var(--dark); */
}

.content {
  margin: 15px;
  width: 100%;
}
.tripTitle {
  /* text-align: center; */
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 500;
}
.removeDayBtn {
  margin-top: 2px;
  margin-left: 10px;
}
.changeDateBtn {
  margin-left: 10px;
}

.create-new {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-new button {
  margin: 0 8px 0 0;
}

.modal-light {
  background-color: var(--light);
}
